.top-nav {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    margin: 0 10px;
}

li.logo {
    flex-grow: 1;
    font-weight: bold;
    font-size: 24px;
}

li.logo a img {
    max-height: 50px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #3d3d3d;
    border-radius: 10px;
}

.search-bar {
    padding: 10px 15px;
    background-color: #333;
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    display: flex;
    align-items: center;

    input {
      flex-grow: 1;
      margin-right: 10px;
      background-color: #333;
      border: none;
      color: white;
      outline: none;
      font-size: 16px;

      &::placeholder {
        color: white;
      }
    }

    .search-icon {
      color: white;
      cursor: pointer;
    }
  }


mat-form-field {
  background-color: #333;
  border: 2px solid white;
  border-radius: 25px;
}

.hover-window {
  position: absolute;
  border: 2px solid #111;
  background-color: #333;
  top: 100%;
  left: 100%;
  transform: translateX(-100%);
}
