/* You can add global styles to this file, and also import other style files */
body {
    height: 100vh;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    background: #3d3d3d;
}

app-root {
    width: 100%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.center-container {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  background-color: #333;
  /* Additional styles as needed */
}


